<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            margin: 0 auto;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>EmpNo</th>
        <th>EmpName</th>
        <th>Job</th>
        <th>Mgr</th>
        <th>HireDate</th>
        <th>Sal</th>
        <th>Com</th>
        <th>DeptNo</th>
    </tr>
    </thead>

    <tbody th:each="emp : ${empList}">
    <tr>
        <td th:text="${emp.empNo}"></td>
        <td th:text="${emp.empName}"></td>
        <td th:text="${emp.job}"></td>
        <td th:text="${emp.mgr}"></td>
        <td th:text="${emp.hireDate}"></td>
        <td th:text="${emp.sal}"></td>
        <td th:text="${emp.com}"></td>
        <td th:text="${emp.deptNo}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>