<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace就是接口类-->
<mapper namespace="com.cheer.springbootdemo.dao.EmpMapper">
    <!--开启二级缓存（分开关）-->
    <cache></cache>
    <update id="update">
        update emp set emp_name = #{empName}, job = #{job}, mgr = #{mgr}, hire_date = #{hireDate}, sal = #{sal}, com
        = #{com}, dept_no = #{deptNo} where emp_no = #{empNo}
    </update>
    <delete id="delete">
        delete from emp where emp_no = #{empNo}
    </delete>

    <!--id是接口的方法名 useCache本条语句是否开启二级缓存 默认就是true-->
    <select id="getEmp" resultType="Emp" useCache="true">
        select * from emp where emp_no = #{empNo}
    </select>

    <select id="getPageList" resultType="Emp" fetchSize="1">
        select * from emp order by emp_no
    </select>

    <select id="getEmpMap" resultType="Map">
        select * from emp e left join dept d on e.dept_no = d.dept_no where emp_no = #{empNo}
    </select>
    <select id="getEmpResultMap" resultMap="empResultMap">
        select * from emp where emp_no = #{empNo}
    </select>
    <select id="getList" resultType="Emp">
        select * from emp
    </select>

    <resultMap id="empResultMap" type="emp">
        <id property="empNo" column="emp_no"></id>
        <result property="empName" column="emp_name"></result>
    </resultMap>

    <insert id="insert">
        insert into emp values (#{empNo}, #{empName}, #{job}, #{mgr}, #{hireDate}, #{sal}, #{com}, #{deptNo})
    </insert>
</mapper>