<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace就是接口类-->
<mapper namespace="com.cheer.springbootdemo.dao.UserDao">
    <!--开启二级缓存（分开关）-->
    <cache></cache>
    <!--注册用户-->
    <insert id="registerUser">
        insert into user (tel,password,name,id,role_id) values (#{tel},#{password},#{name},#{id},2)
    </insert>

    <select id="queryUserByTel" resultType="com.cheer.springbootdemo.model.User" parameterType="String">
        select * from user where tel=#{tel}
    </select>

    <select id="getUserList" resultType="com.cheer.springbootdemo.model.User">
         select * from user
    </select>
</mapper>